# Supabase Configuration
PUBLIC_SUPABASE_CONNECTION_STRING=postgresql://postgres:75Ee7y63D1mxjPeB@db.jntdtuysieyobogczfvu.supabase.co:5432/postgres

PUBLIC_SUPABASE_URL=https://jntdtuysieyobogczfvu.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_hal6zKcTzlZPMWX11bU-3g_JiHdRB_I

PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
