{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 124,
	"semi": false,
	"arrowParens": "always",
	"tabWidth": 2,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
